---
import { getUsers } from "@/api/users";
import ContactItem from "@/components/contacts/ContactItem.astro";
import Heading from "@/components/ui/Heading.astro";
import AstroPagination from "@/components/ui/pagination/AstroPagination.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
  const contacts = await getUsers();
  return paginate(contacts, { pageSize: 4 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---
<BaseLayout title="Contacts">
  <Heading tag="h1" size="4xl" class="mb-4">
    Contacts (Page {page.currentPage})
  </Heading>

  <AstroPagination page={page} class="mb-4" />

  <ul class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-8">
    {page.data.map(contact => (
      <li>
        <ContactItem {...contact} />
      </li>
    ))}
  </ul>
</BaseLayout>
