---
import type { Book } from "@/actions/books";

interface Props {
  author: Book["author"];
}

const { author } = Astro.props;
---

<p>by {author ? new Intl.ListFormat().format(author) : "Uknown Author"}</p>
