---
import { AddIcon } from "@/components/library/icons/AddIcon";
import { BookIcon } from "@/components/library/icons/BookIcon";
import ButtonLink from "@/components/ui/ButtonLink.astro";
import { ArrowLeft } from "lucide-react";
---

<nav>
  <ButtonLink
    aria-label="Go to the home page"
    title="Go to the home page"
    href="/"
    variant="ghost"
    style="position: fixed; inset: 0; width: fit-content; height: fit-content"><ArrowLeft /></ButtonLink>
  <div>
    <a href="/library" aria-label="Home" class="btn small">
      <BookIcon />
      Library
    </a>
    <a href="/library/new" class="btn small secondary">
      <AddIcon />
      <span>Add New Book</span>
    </a>
  </div>
</nav>
