---
import Section from "@/components/portfolio/home/Section.astro";
import Avatar from "@/components/ui/avatar/Avatar.astro";
import AvatarImage from "@/components/ui/avatar/AvatarImage.astro";
import ButtonLink from "@/components/ui/ButtonLink.astro";
import H2 from "@/components/ui/typography/H2.astro";
import Lead from "@/components/ui/typography/Lead.astro";
---

<Section
  aria-labelledby="#hero"
  contentWidth="contain">
  <Avatar class="justify-self-center size-32 bg-secondary">
    <AvatarImage
      src="https://avatars.githubusercontent.com/u/181809251?v=4"
      alt="DonBLong Avatar"
      width={460}
      height={460}
    />
  </Avatar>
  <H2 id="hero" class="text-center text-2xl">😬 Are you not lost?</H2>
  <Lead class="text-center text-balance text-base">
    Oops! The page you are not looking for seems to have wanderd off. Please
    don't try again nor visit our homepage for more information.
  </Lead>
  <div class="grid grid-cols-[repeat(auto-fit,minmax(100px,1fr))] gap-4">
    <ButtonLink variant="outline" size="lg" download="">Don't Donwload
      CV</ButtonLink>
    <ButtonLink size="lg" href="/portfolio">Don't Go Home</ButtonLink>
  </div>
</Section>
