---
import { getPokemons } from "@/api/pokemon";
import ButtonLink from "@/components/ui/ButtonLink.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
const pokemons = await getPokemons();
---

<BaseLayout title="Pokémon">
  <nav>
    <ul class="flex flex-wrap gap-4">
      {pokemons.map(({ name }) => (
        <li>
          <ButtonLink href={`/pokemon/${name}`} variant="secondary">
            {name}
          </ButtonLink>
        </li>
      ))}
    </ul>
  </nav>
</BaseLayout>
