---
import Button from "@/components/ui/Button.astro";
import Heading from "@/components/ui/Heading.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <header slot="header"></header>
  <main
    slot="main"
    class="grid items-center justify-center gap-4">
    <section class="grid gap-4 place-items-center">
      <Heading tag="h2" size="6xl">hi</Heading>
      <Button>Click me</Button>
    </section>
    <section class="grid gap-4">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
        eveniet aspernatur fuga quae, quis in similique provident officia a
        aperiam adipisci rem cupiditate nihil, doloribus voluptatem blanditiis
        ab quidem? Nobis!
      </p>
      <p>
        Corrupti, tenetur voluptates cum est in eveniet quisquam enim impedit
        asperiores iusto sequi ipsam possimus itaque, saepe eos similique!
        Facilis, aut inventore delectus ipsa distinctio molestiae obcaecati
        mollitia sed nulla!
      </p>
      <p>
        Commodi maiores exercitationem blanditiis consequuntur officiis
        architecto explicabo, suscipit quos distinctio recusandae nulla sunt
        repellendus quasi, ullam velit porro quisquam minus eos accusantium
        asperiores odit rerum fuga? Ad, repellat quibusdam!
      </p>
      <p>
        Ea totam ducimus, minus, dolor at voluptate beatae tempora doloribus
        illum vero voluptas numquam voluptatum molestiae aliquam unde sed.
        Tenetur facere pariatur recusandae, saepe eius incidunt laborum suscipit
        ut aut.
      </p>
      <p>
        Deserunt aliquam cum fugit quaerat velit possimus, rerum corporis in,
        sunt culpa commodi. Dignissimos sapiente alias vel? Doloremque id
        maiores quod similique ea nulla ipsa aliquam, sed dignissimos molestias
        accusamus?
      </p>
      <p>
        Cupiditate temporibus ratione dicta quam quas, suscipit sapiente atque
        iusto commodi, sunt earum rerum aspernatur eum nobis deleniti provident
        tempore a, vero neque delectus similique ullam. Ea totam neque eos.
      </p>
      <p>
        Eveniet dolorem debitis quidem soluta doloribus non ex nostrum delectus
        placeat, cupiditate numquam voluptatum quisquam ut possimus
        exercitationem magni corrupti. Impedit laborum delectus ut labore
        aperiam eos sunt libero dolorum.
      </p>
      <p>
        Modi suscipit facilis veniam ipsa ullam quasi enim itaque quidem odit
        ipsam a, mollitia voluptate deserunt officiis natus ducimus animi sunt
        magni tempore cumque asperiores in? Id natus soluta placeat.
      </p>
      <p>
        Labore magni quae ea id iste amet accusantium ducimus quisquam, quam at
        natus, tempore reprehenderit itaque quod hic veritatis possimus
        repellat, quos iusto. Aspernatur possimus maiores tempora cumque
        quibusdam quidem.
      </p>
      <p>
        Similique rem illum pariatur praesentium obcaecati. Praesentium
        perferendis quae ducimus dicta officiis. Quasi enim nihil minima sunt
        nobis praesentium cumque, provident, possimus, neque cupiditate error
        omnis impedit dignissimos nesciunt culpa.
      </p>
      <p>
        Ab optio modi iusto soluta facilis et, veritatis rerum nemo sit corrupti
        tempora inventore enim necessitatibus omnis atque. Ex totam enim, quis
        non necessitatibus temporibus blanditiis aperiam similique distinctio
        optio?
      </p>
      <p>
        Tempora quam alias, non odio accusamus voluptate id consequatur cumque?
        Fuga, obcaecati explicabo. Vel magni sit officiis nihil ab, sequi illo
        asperiores doloribus recusandae. Nisi sequi vitae iusto ratione.
        Perspiciatis!
      </p>
      <p>
        Qui totam iure temporibus dolorem ab cupiditate quidem atque corrupti
        iste rerum tempora, tempore optio sapiente rem voluptate reprehenderit
        ducimus fugit dolorum. Officia at nobis voluptatibus deserunt eum est
        corrupti.
      </p>
      <p>
        Laboriosam perferendis, ducimus voluptatum exercitationem ab eius quae
        ipsa libero, natus nemo itaque aut deserunt tenetur iure saepe dolores
        fuga at tempora debitis delectus eos dolorem cupiditate sunt. Deserunt,
        quas.
      </p>
      <p>
        Beatae libero quae et! Delectus, dolorem pariatur, quod consequuntur
        eius adipisci labore cum corrupti reprehenderit enim ullam quas ipsa,
        repellat consectetur molestiae amet! Tenetur voluptatibus totam deleniti
        quam, alias molestiae!
      </p>
      <p>
        Voluptatibus aspernatur esse facilis provident dicta ducimus aut,
        distinctio libero repudiandae officiis accusantium alias rem nostrum,
        neque aliquam laudantium unde tempora. Quod enim ea nulla incidunt
        expedita numquam doloribus earum.
      </p>
      <p>
        Pariatur placeat repudiandae voluptate similique dolorem inventore
        molestiae repellendus soluta. Id perferendis illum nesciunt repellat
        dolore consequatur, hic voluptates, corrupti a exercitationem cumque
        fugit vitae, ea ipsam officiis totam aliquam!
      </p>
      <p>
        Voluptatum facilis adipisci repellat, magni deserunt delectus libero,
        explicabo eius cupiditate possimus modi fuga rem ipsa nam reiciendis
        quidem fugiat voluptatibus? Sint enim laborum repellendus et adipisci.
        Numquam, eum enim.
      </p>
      <p>
        Nisi nesciunt, nemo repellendus minus voluptatibus tempore vitae
        expedita recusandae modi omnis tenetur nihil iure architecto reiciendis
        ratione doloremque quos enim cumque. Eligendi, nesciunt vero quaerat
        culpa deleniti placeat ab.
      </p>
      <p>
        Sapiente, similique. Saepe tempore earum reiciendis ad fuga fugit
        dolores, pariatur aspernatur debitis aliquid tempora corrupti eveniet
        illum cum nihil, vero sunt? Aperiam, assumenda impedit dolorem fugit
        perferendis consectetur nulla.
      </p>
      <p>
        Repellat repudiandae, ipsam reiciendis, nisi corporis debitis a magnam,
        est recusandae iste earum. Explicabo excepturi, facilis odio impedit,
        repellendus iure adipisci repudiandae cupiditate eaque nisi deleniti
        dignissimos iusto nobis autem.
      </p>
      <p>
        Harum, possimus nobis facere vero reprehenderit aspernatur debitis
        temporibus dolorum perspiciatis voluptatem natus nulla ipsam, similique
        distinctio error iure. Molestiae repellat aperiam deserunt earum ipsa
        eius cum, nihil cupiditate voluptatum?
      </p>
      <p>
        Dolores magnam maiores minus harum quia. Ducimus error natus quae, unde
        ex sapiente illo amet minus nobis ipsa deleniti, saepe consequuntur
        numquam, inventore nisi culpa aspernatur dicta accusamus id sed?
      </p>
      <p>
        Sit reiciendis quisquam eius maiores, dolores dolorum illum delectus
        exercitationem nisi quas? Enim, veritatis dolorem veniam nostrum numquam
        molestiae laboriosam ullam quasi corporis beatae, laborum officiis iure,
        illum ut quis?
      </p>
      <p>
        Excepturi velit iure, fuga exercitationem veritatis eligendi culpa enim
        tenetur inventore illum id ducimus perspiciatis laudantium magni
        asperiores similique. Laboriosam itaque repellat quae totam fuga eos
        obcaecati adipisci atque placeat.
      </p>
      <p>
        Distinctio, placeat? Beatae asperiores nisi dicta reprehenderit iste
        fugit ullam explicabo voluptate, suscipit officiis, pariatur consequatur
        debitis atque ipsa natus ut id eum ducimus voluptatem ipsam at ex eaque
        adipisci.
      </p>
      <p>
        Accusantium officia a dolorem nobis deserunt enim, voluptatum voluptatem
        quas quam dolores iste porro repudiandae quo deleniti esse et unde,
        laboriosam fugiat? Dicta sapiente, voluptates perferendis est quam iure
        minus!
      </p>
      <p>
        Iure, expedita! Eveniet officia quod, ipsum ut sit non at explicabo
        ullam optio quas vel blanditiis consectetur quaerat debitis asperiores.
        Maxime, esse doloribus? Maiores fugiat, nihil consequuntur ratione
        aspernatur molestias?
      </p>
      <p>
        Enim velit temporibus facere, incidunt earum neque dolore quibusdam
        quaerat deserunt excepturi, provident exercitationem sequi sapiente.
        Iure ipsa id voluptatibus sunt quas aperiam repellat impedit sapiente
        saepe. Quo, quae sequi.
      </p>
      <p>
        Eveniet, exercitationem sunt et, quasi error repellat explicabo
        reiciendis, asperiores dolorum fugiat placeat expedita voluptatem amet!
        Dolorum dignissimos temporibus adipisci error laboriosam beatae animi
        minus. Asperiores sequi dolorum ullam dignissimos!
      </p>
    </section>
  </main>
  <footer slot="footer"></footer>
</BaseLayout>
