---
import Button from "@/components/ui/Button.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <header slot="header"></header>
  <main
    slot="main"
    class="grid items-center justify-center">
    <div class="grid gap-16 place-items-center">
      <h1 class="text-6xl font-bold">Astro Components</h1>
      <Button variant="destructive">Button Text</Button>
    </div>
  </main>
  <footer slot="footer"></footer>
</BaseLayout>
