---
import PriceCard from "@/components/PriceCard.astro";
import data from "@/data/prices.json";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section slot="section" aria-label="Pricing" class="py-4">
    <ul class="grid grid-cols-1 lg:grid-cols-3 gap-8 justify-items-center">
      {data.map(item => (
        <li class="w-full max-w-120 grid grid-rows-subgrid row-span-7">
          <PriceCard {...item} />
        </li>
      ))}
    </ul>
  </section>
</BaseLayout>
