---
import Button from "@/components/ui/Button.astro";
import Heading, {
  type Props as HeadingProps,
} from "@/components/ui/Heading.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const headings: (HeadingProps & { text: string })[] = [
  {
    tag: "h1",
    size: "5xl",
    text: "Heading 1",
  },
  {
    tag: "h2",
    size: "xl",
    text: "Heading 2",
  },
  {
    tag: "h4",
    size: "6xl",
    text: "Heading 3",
  },
];
---

<BaseLayout>
  <header slot="header"></header>
  <main
    slot="main"
    class="grid items-center justify-center">
    <div class="grid gap-16 place-items-center">
      <ul class="grid gap-2">
        {headings.map(({ tag, size, text }) => (
          <li>
            <Heading tag={tag} size={size}>{text.toUpperCase()}</Heading>
          </li>
        ))}
      </ul>
      <Button variant="destructive">Click me</Button>
    </div>
  </main>
  <footer slot="footer"></footer>
</BaseLayout>
