---
import Button from "@/components/ui/Button.astro";
import Heading from "@/components/ui/Heading.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { HTMLHeadingTag } from "@/utils/types";

const headings: { tag: HTMLHeadingTag; size: string; text: string }[] = [
  {
    tag: "h1",
    size: "lg",
    text: "Headin 1",
  },
  {
    tag: "h2",
    size: "6xl",
    text: "Headin 2",
  },
  {
    tag: "h4",
    size: "2xl",
    text: "Headin 3",
  },
];
---

<BaseLayout>
  <header slot="header"></header>
  <main
    slot="main"
    class="grid items-center justify-center">
    <div class="grid gap-16 place-items-center">
      <ul>
        {headings.map(({ tag, size, text }) => (
          <Heading tag={tag} class={`text-${size} font-bold`}>
            {text}
          </Heading>
        ))}
      </ul>
      <Button variant="destructive">Click me</Button>
    </div>
  </main>
  <footer slot="footer"></footer>
</BaseLayout>
