---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <header slot="header"></header>
  <main
    slot="main"
    class="grid items-center justify-center">
    <h1 class="text-6xl font-bold">Astro Components</h1>
  </main>
  <footer slot="footer"></footer>
</BaseLayout>
