---
import README from "/README.md";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <section aria-label="Read Me" class="prose lg:prose-xl dark:prose-invert">
    <README />
  </section>
</BaseLayout>
