---
import type { Book } from "@/actions/books";
import { LoadingIcon } from "@/components/library/icons/LoadingIcon";
import type { HTMLAttributes } from "astro/types";
import { actions } from "astro:actions";

interface Props extends HTMLAttributes<"form"> {
  book: Book;
}

const { book, ...props } = Astro.props;
---

<form
  transition:persist="remove-book-form"
  method="POST"
  action={actions.books.removeBook}
  {...props}>
  <input type="hidden" name="id" value={book.id} />
  <button class="btn warning">
    <span>Remove from Library</span>
    <LoadingIcon />
  </button>
</form>
