---
import SearchBooksForm from "@/components/library/actions/SearchBooksForm.astro";
import BookCard from "@/components/library/BookCard.astro";
import BaseLayout from "@/layouts/LibraryLayout.astro";
import { actions } from "astro:actions";

export const prerender = false;

const search = Astro.url.searchParams.get("search");

const { data: books, error } = search
  ? await Astro.callAction(actions.books.searchBooks, { search })
  : {};
---

<BaseLayout
  title="Bookends - Search"
  description="Search for a book to add to your Bookends library">
  <div class="grid-sm center-layout">
    <h1>Add New Book</h1>
    <p>To add a book to your library, search for it below.</p>
    <SearchBooksForm search={search} />
    <p class="text-error">{error?.message}</p>
  </div>
  <ul class="book-card-list">
    {books?.map(book => <BookCard book={book} />)}
  </ul>
</BaseLayout>
