---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h1">;

const { class: className, "class:list": classList, ...props } = Astro.props;
---

<h1
  class={cn(
    "scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance",
    className,
    classList,
  )}
  {...props}>
  <slot />
</h1>
