---
import Button from "@/components/ui/Button.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro</title>
  </head>
  <body class="min-h-screen w-full max-w-9/10 mx-auto grid grid-rows-[auto_1fr_auto]">
    <header>
      <nav>
        <ul class="flex gap-2 p-4">
          <li>
            <Button variant="ghost" size="lg" class="text-xl">
              <a href="/">Home</a>
            </Button>
          </li>
          <li>
            <Button variant="ghost" size="lg" class="text-xl">
              <a href="/pokemon">Pokémon</a>
            </Button>
          </li>
        </ul>
      </nav>
    </header>
    <slot name="main" />
    <slot name="section" />
    <slot name="footer" />
  </body>
</html>
