---
import Button from "@/components/ui/Button.astro";
import "@/styles/global.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
  </head>
  <body class="min-h-screen max-w-[min(1000px,90%)] mx-auto grid grid-rows-[auto_1fr_auto] *:py-4">
    <header>
      <nav>
        <ul class="flex flex-wrap gap-2">
          <li>
            <a href="/">
              <Button variant="ghost" class="text-xl">
                Home
              </Button>
            </a>
          </li>
          <li>
            <a href="/blogs">
              <Button variant="ghost" class="text-xl">
                Blogs
              </Button>
            </a>
          </li>
          <li>
            <a href="/prices">
              <Button variant="ghost" class="text-xl">
                Prices
              </Button>
            </a>
          </li>
          <li>
            <a href="/pokemon">
              <Button variant="ghost" size="lg" class="text-xl">
                Pokémon
              </Button>
            </a>
          </li>
          <li>
            <a href="/posts">
              <Button variant="ghost" size="lg" class="text-xl">
                Posts
              </Button>
            </a>
          </li>
          <li>
            <a href="/contacts">
              <Button variant="ghost" size="lg" class="text-xl">
                Contacts
              </Button>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
