---
import ButtonLink from "@/components/ui/ButtonLink.astro";
import "@/styles/global.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen max-w-[min(1000px,90%)] mx-auto grid grid-rows-[auto_1fr_auto] *:py-4">
    <header>
      <nav>
        <ul class="flex flex-wrap gap-2">
          <li>
            <ButtonLink
              href="/"
              variant="ghost"
              class="text-xl">Home</ButtonLink>
          </li>
          <li>
            <ButtonLink
              href="/blogs"
              variant="ghost"
              class="text-xl">Blogs</ButtonLink>
          </li>
          <li>
            <ButtonLink
              href="/prices"
              variant="ghost"
              class="text-xl">Prices</ButtonLink>
          </li>
          <li>
            <ButtonLink
              href="/pokemon"
              variant="ghost"
              size="lg"
              class="text-xl">Pokémon</ButtonLink>
          </li>
          <li>
            <ButtonLink
              href="/posts"
              variant="ghost"
              size="lg"
              class="text-xl">Posts</ButtonLink>
          </li>
          <li>
            <ButtonLink
              href="/contacts"
              variant="ghost"
              size="lg"
              class="text-xl">Contacts</ButtonLink>
          </li>
          <li>
            <ButtonLink
              href="/me"
              variant="ghost"
              size="lg"
              class="text-xl">Me</ButtonLink>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
