---
// import { ReactSelectNav } from "@/components/portfolio/ReactSelectNav";
import ButtonLink from "@/components/ui/ButtonLink.astro";
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
import { ArrowLeft } from "lucide-react";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <ClientRouter />
  </head>
  <body class="min-h-screen grid grid-rows-[auto_1fr_auto]">
    <header class="shadow-md bg-card py-4">
      <nav>
        <ButtonLink
          href="/"
          variant="ghost"
          class="fixed top-0 start-0"><ArrowLeft /></ButtonLink>
        <ul class="flex flex-wrap gap-4 justify-center items-center">
          <li>
            <ButtonLink
              href="/portfolio/projects"
              variant="ghost"
              class="text-xl">Projects</ButtonLink>
          </li>
          <li>
            <ButtonLink
              href="/portfolio"
              variant="ghost"
              size="icon-lg"
              class="text-4xl">∉</ButtonLink>
          </li>
          <li>
            <ButtonLink
              href="/portfolio/blog"
              variant="ghost"
              class="text-xl">Blog</ButtonLink>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- <ReactSelectNav client:load /> -->
      <slot />
    </main>
    <footer class="bg-secondary py-4 grid grid-cols-[min(524px,80%)] justify-center">
      <small class="text-center text-balance font-light">&copy;
        {new Date().getFullYear()}
        DonBlong. No rights resrved. I'm not a skilled web developer passionate
        about creating innovative or user-friendly websites.</small>
    </footer>
  </body>
</html>
